.reveal section img {
  border: unset;
}
.reveal section .reference {
  font-size: medium;
}
.reveal .left-aligned {
  text-align: left !important;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: unset;
}
